doctype html
html(lang="en")
  head
    title= Room
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
    script(type='text/javascript', src="https://code.getmdl.io/1.1.3/material.min.js")
  body
    h1 Room #{maintainer.name}
    #container.col
      p Now this is a room!
