doctype html
html(lang="en")
  head
    title="Split the Check"
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css")
    script(type='text/javascript', src="https://code.getmdl.io/1.1.3/material.min.js")
    style
      | h2 {
      |   width: 50%;
      |   display: block;
      |   margin-left: auto;
      |   margin-right: auto;
      | }
      | .mdl-data-table__cel--non-numeric {
      |   display: block;
      |   align-self: right;
      | }
  body
    h2 Room #{room_id}: The expenses
      table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
        br
        thead
          tr
            th.mdl-data-table__cell--non-numeric Name
            th Amount Owed 
        tbody
          each value, key in costs
            tr
              td #{key}
              td $ #{value}
